jax
jaxlib
flax
optax
torch
numpy
wandb
einops
transformers
diffusers
datasets
ray[all]
tensorflow-cpu
opencv-python-headless
sentencepiece
fabric
tensorflow-datasets
einops_exts
scikit-learn
git+https://github.com/isaaccorley/jax-enhance